.bgc{
	background-color:aqua;
}
.image{
	padding-right: 5px;
	height: 40px;
}
.square{
	height: 500px;
	width: 500px;
	background-color: black;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.size{
	height: 400px;
}
.pl{
	color: red;
	font-size: 20px;
	list-style: none;
}
.pl2{
	padding-left: 50%
}
.turn{
	text-align: center;
	color: #C0C0C0;
}
.g{
	background-color: white;
}
.g a{
	text-decoration: none;
	text-align: center;
	font-size: 50px;
}
.bor{
	border-style: dotted;
	border-width: medium;
	border-color: green;
}
.act a{
	padding-right: 10px;
	text-decoration: none;
	float: right;
	font-size: 25px;
	color: green;
}
.res{
	font-size: 40px;
	text-align: center;
	color: red;
}

.mbg{
	background-color: orange;
}


.footer{
	height: 200px;
	background-color: grey;
}
/*############mobile version########*/
@media screen and (max-width: 680px){	
	.pos{
		padding-left:38.5%;
	}
	.square{
	height: 350px;
	width: 350px;
	background-color: black;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	}
	.size{
		height: 300px;
	}
	.g a{
		font-size: 35px;
	}
	.bor{
		border-width: thin;
	}
	.pl{
		font-size: 22px;
	}
	.pl2{
		padding-left: 25%;
	}
	.turn{
		font-size: 30px;
	}
}
